// FOOTER :: START

footer.footer
  .container
    .footer__wrapper
      .footer__wrapper-left

        .footer__nav
          ul
            li
              a(
                href="#" title="" class=""
              )!= "About"
            li
              a(
                href="#" title="" class=""
              )!= "Contact Us"
            li
              a(
                href="#" title="" class=""
              )!= "Disclaimer"
            li
              a(
                href="#" title="" class=""
              )!= "Privacy Policy"

      .footer__wrapper-middle
        .copyright
          p!= "Geeky Medics © 2018"

      .footer__wrapper-right
        .social
          ul
            li
              a(
                href="#" title="" class=""
              )
                +icon("ico-Twitter")
            li
              a(
                href="#" title="" class=""
              )
                +icon("ico-Facebook")
            li
              a(
                href="#" title="" class=""
              )
                +icon("ico-instagram")
            li
              a(
                href="#" title="" class=""
              )
                +icon("ico-youtube")


// FOOTER :: END
