// HEADER :: START

header.header(data-aos="fade-down")
  .container
    .header__wrapper.c-block
      .header__wrapper-left
        .logotype
          a(
            href="homepage.html"
            title=""
            class=""
          )
            img.svg-js(src="./img/logo.svg")

      .header__wrapper-right

        .nav
          ul.nav__list
            li.nav__item
              a.nav__link(
                href="test.html" title="" class=""
              )!= "Learn"
            li.nav__item
              a.nav__link(
                href="test.html" title="" class=""
              )!= "Teach"
            li.nav__item
              a.nav__icon(
                href="test.html" title="" class=""
              )
                +icon("ico-notify")
            li.nav__item.nav__item--dropdown
              a.nav__link(href="#" title="" js-header-dropdown)
                div
                  img(
                    srcset="./img/user-photo.png, ./img/user-photo@2x.png 2x" alt="" title="")
                p Blake
                +icon("ico-arrow")


// HEADER :: END

// transition class for preloader
.js-transition-overlay.js-transition-overlay--initial
