// achievements :: START

section.achievements.c-block.c-block--plr.c-block--ptb
  .achievements__wrapper

    h1.title!= "Achievements"

    .achievements__circle-wrap
      .achievements__block
        a.achievements__circle.achievements__circle-0(href="#")
          img(
            srcset="./img/user-photo.png, ./img/user-photo@2x.png 2x" alt="" title=""
           )
      .achievements__block
        a.achievements__circle.achievements__circle-1(href="#")
          img(
            srcset="./img/eye.png, ./img/eye@2x.png 2x" alt="" title=""
          )
      .achievements__block
        a.achievements__circle.achievements__circle-2(href="#")
          img(
            srcset="./img/axon.png, ./img/axon@2x.png 2x" alt="" title=""
          )
      .achievements__block
        a.achievements__circle.achievements__circle-3(href="#")
          img(
            srcset="./img/lungs.png, ./img/lungs@2x.png 2x" alt="" title=""
          )

    a(
      href="#"
      title=""
      class="btn btn--centered"
    )!= "View"

// achievements :: END
