// PROFILE :: START

section.profile.c-block.c-block--plr.c-block--ptb(data-aos="fade-up")
  .profile__wrapper

    h1.title!= "Profile"

    .profile__ava
      .profile__ava-img
        img(
          srcset="./img/ava.png, ./img/ava@2x.png 2x"
          alt="" 
          title=""
         )
      a.profile__ava-edit(
        href="#"
        title=""
        class=""
      )
        +icon("ico-edit")

    .profile__user
      p.profile__user-name!= "Blake Fuller"
      p.profile__user-pos!= "GP Trainee"

    .profile__circle-wrap
      .profile__circle.profile__circle-0
        +svgCircle('profile-performance', 'profile-performance-circle', 90, 90, "performance-gradient", "#5d8ef1", "#00529e", "50")
        p!= "Performance"

      .profile__circle.profile__circle-1
        +svgCircle('profile-reputation', 'profile-reputation-circle', 90, 90, "reputation-gradient", "#5d8ef1", "#00529e", "25")
        p!= "Reputation"

      .profile__circle.profile__circle-2
        +svgCircle('profile-correct', 'profile-correct-circle', 90, 90, "correct-gradient", "#5d8ef1", "#00529e", "75")
        p!= "Correct answers to questions"


    .profile__text-wrap
      div.profile__text.profile__text-0
        div
          i.icon-broken-bone
        span!= "You are strongest in Rheumatology"
      div.profile__text.profile__text-1
        div
          i.icon-test-tube
        span!= "You are strongest in Rheumatology"

    .btn__group
      a(
        href="#" title="" class="btn"
      )!= "View"
      a(
        href="#" title="" class="profile__btn btn--internal"
      )!= "Generate certificate"

// PROFILE :: END
