// QUIZZES TAKEN :: START

section.quizzTaken.c-block.c-block--plr.c-block--ptb
  .quizzTaken__wrapper

    h1.title!= "Quizzes taken"

    p.description!= "You have completed <a href='#'>15</a> quizzes"
    p.description!= "You have <a href='#'>66</a> unifinished quizzes"

    a(
      href="#"
      title=""
      class="btn btn--centered"
    )!= "View"

// QUIZZES TAKEN :: END
