// SPACED REPETITION :: START

section.repetition.c-block.c-block--plr.c-block--ptb
  .repetition__wrapper

    h1.title!= "Spaced Repetition"

    .repetition__circle-wrap
      .repetition__circle-left
        .repetition__circle.repetition__circle-0
          p!= "Don’t Know"

        .repetition__circle.repetition__circle-1
          p!= "Know okay"

        .repetition__circle.repetition__circle-2
          p!= "Know"

        .repetition__circle.repetition__circle-3
          p!= "Know well"

        .repetition__circle.repetition__circle-4
          p!= "Mastered"

      .repetition__circle-right
        .repetition__circle.repetition__circle-5
          p!= "Progress"


    a(
      href="#"
      title=""
      class="btn btn--centered"
    )!= "Take a quiz"

// SPACED REPETITION :: END
