// SUBMISSIONS :: START

section.submissions.c-block.c-block--plr.c-block--ptb
  .submissions__wrapper

    h1.title!= "Submissions"

    p.description!= "Contributed <a href='#'>205</a> questions"
    p.description!= "Questions attempted <a href='#'>345</a> times by <a href='#'>85</a> users"
    p.description!= "Questions have been up-voted <a href='#'>9661</a> times"

    .btn__group
      a(
        href="#" title="" class="btn"
      )!= "View"
      a(
        href="#" title="" class="submissions__btn btn--internal"
      )!= "Generate certificate"

// SUBMISSIONS :: END
